{% extends 'blog/base.html' %}

{% block content %}


    <div class="post">

        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}


        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1>{{ post.title }}</h1>
                </div>

                <div class="col-md-2">
                <a class="btn btn-warning" href="{% url 'post_edit' pk=post.pk %}">Edit</span></a>
                </div>
            </div>
        </div>

        {% if tags %}
        <h3>Tags:
            {% for tag in posttags%}
            <a href="">{{ tag.title}}</a>
            {% empty %}
            no tags
            {% endfor %}
        </h3>
        {% endif %}

        <p>{{ post.text}}</p>
    </div>

    <a class="btn btn-warning" href="{% url 'add_comment_to_post' pk=post.pk %}">Answer</a>

    <br>
    <br>
    <h3>Answers:</h3>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}

        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                {% if not comment.approved_comment %}
                    <a class="btn btn-warning" href="{% url 'comment_approve' pk=comment.pk %}">
                        <i class="material-icons md-30">done</i>
                    </a>
                    <a class="btn btn-warning" href="{% url 'comment_remove' pk=comment.pk %}">
                        <i class="material-icons md-30">close</i>
                    </a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
        {% empty %}
            <p>No answers here yet :(</p>
    {% endfor %}


{% endblock %}